.container-card {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #972a2aa0;
  border-radius: 20px;
}

.container-card:hover .overlay {
  opacity: 1;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.more-info {
  transition-duration: 1s;
  display: flex;
  align-items: center;
}

.more-info .icon {
  margin-left: 5px;
  transition-duration: 1s;
}

.container-card:hover .icon {
  margin-left: 10px;
  transition-duration: 1s;
}
